*{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #191D20;
  overflow-x: hidden;
}

p, h1, h3, a {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.destaque {
  color: #E8BF55;
}